## Data Types

### 이번 실습에서는 다음 내용들을 배웁니다.


- 프로그래밍 언어에서는 변수(Variable)에서 데이터를 저장/관리 하며 변수에 대한 개념을 통해 데이터를 사용할 수 있다.
> "변수" 라는 개념을 통해 데이터를 사용할 수 있다.


- data type을 배울 중요한 포인트는 어떤 연산을 사용할 수 있는지와 **연산결과가 어떤 의미인지**를 알아야한다.
> "Hello" + "World" = ?

### 변수(Variable)이란?

- 변수는 메모리에 데이터를 저장하기 위한 공간을 가리키는 말이며, 컴퓨터와 프로그래밍 언어 사용자간의 약속이다.
> a : 컴퓨터와 사용자가 인식하는 특정 데이터를 저장하고 있는 공간이고, 공간의 이름을 a라고 한다.

- 변수는 일종의 닉네임으로, 실제 물리적인 메모리 주소공간을 가리킨다.
> 사용자는 변수의 이름으로 데이터를 인식하고, 컴퓨터는 변수의 주소로 데이터를 인식합니다.

- 변수에 데이터를 저장할 때는 <kbd>=</kbd>를 사용한다. 이 때 <kbd>=</kbd>를 assignment operator라고 부른다.
> a = 10 (a라는 공간에, 10이라는 데이터를 할당해주세요.)




<b>(OPTIONAL)</b> a = 10을 예로 들었을 때, =을 기준으로 왼쪽을 lvalue라고 하며 실제 메모리 주소를 의미하고, =을 기준으로 오른쪽을 rvalue고 하며 실제 데이터(또는 값)을 의미한다.

In [2]:
# 변수 a에 10이라는 정수 데이터를 할당(assign)한다.
a = 10
b = 10

print(a)

10

In [5]:
# 파이썬에서 a라는 변수를 인식하고 있는 identifier.
print(id(a))
print(id(b))

4304415312
4304415312

### Q. 왜 data type은 여러가지 일까?

- 다음 질문에 대해 생각해보자.


> Q1. 컴퓨터는 정수와 실수를 어떻게 인식할까? (어떻게 구분할까)

> Q2. 100개의 숫자를 한꺼번에 다루고 싶을 때 어떻게 해야할까?

> Q3. 컴퓨터는 문자를 어떻게 인식할까?

> Q4. 많은 데이터를 빠르게 찾아야 할때는 어떻게 저장할까?

* 위 질문에 대한 대답을 data type을 배우면서 생각해봅시다.

### 1. 숫자 데이터 (Numeric Data Types)

* 숫자형 데이터란, 정수/실수/복소수/2진수/8진수/16진수를 포함하며 가장 많이 사용하는 데이터 타입중에 하나다.


* 파이썬은 숫자의 표현 범위가 무한대이다.


* 숫자 데이터는 우리가 알고 있는 대부분의 연산을 그대로 지원한다. 사칙연산, 나머지 구하기, 몫 구하기, 거듭제곱 등

### 정수형 (Integer)

In [ ]:
# a에 10, b에 5를 할당하고, a와 b를 더한 결과를 출력합니다.

### 실수형 (Floating point)

In [ ]:
c = 3.14
c

In [ ]:
c + 3.14

In [6]:
# d에 4를 할당하고 c에서 d를 뺀 값을 출력합니다.
0.000001
1e-7
0. # 소수 자리 수가 0
.1 # 정수 자리 수가 0

1e-07

In [ ]:
# 1.34 x 10^6을 의미한다.
e = 1.34E6; e2 = 1.34e-3
e, e2

### 숫자형 데이터 타입이 제공하는 여러 연산자

#### 사칙연산

In [ ]:
# a에 10, b에 3을 할당하고 a와 b의 사칙연산 결과를 출력합니다. 이번에는 출력할때 print 함수를 사용합니다.

In [7]:
# a에 10.3, b에 -1.6을 할당하고 사칙연산 결과를 출력합니다.
3.14 - 4

-0.8599999999999999

#### 특수연산

In [8]:
c = 5
d = 2
print(c ** d) # c를 d번 곱한 것. c^d
print(c // d) # c를 d로 나눈 몫.
print(c % d)  # c를 d로 나눈 나머지.

25
2
1

### 2. 문자열(String)

* 문자열 데이터란, 문자(character)의 나열을 의미한다. e.g. "Hello world"
> string ; Character Sequence

* 파이썬에 다룰 수 있는 문자열의 크기도 제한이 없다.


* 파이썬에선 <kbd>'</kbd>와 <kbd>"</kbd> 두 가지의 기호를 통해 문자열을 나타낸다. 즉 ' 부터 ' 까지 또는 " 부터 " 까지 하나의 문자열이다.
e.g. 'Hello', "World"


* 컴퓨터는 문자(character)를 encoding하여 숫자로 표현한다. 알려진 예로 ASCII, utf-8, cp949가 있다.
> 컴퓨터는 문자를 숫자로 인식한다. e.g. ASCII 코드로 변환하면 A->65, a->97

* 현재 전세계적으로 웹에서 사용되는 국제 표준은 UTF-8(Universal code character set Transformation Format - 8-bit)이다.

 
**(OPTIONAL)** UTF-8에선 a는 1바이트로, '가'는 3바이트로 인식한다. 이를 가변 인코딩 방식이라고 하며, 영어보다 한글이 더 많은 데이터를 필요로 한다.

### 문자열을 만드는 여러가지 방법

In [9]:
s = 'hello'
s = "hello"

In [10]:
# 왜 파이썬은 ""와 ''를 모두 제공할까요?
# 아래 s3와 s4를 문자열로 만들어서 출력해봅시다. 
print("i'm a boy")

i'm a boy

### 문자열 연산하기

> 문자열의 사칙연산은 어떻게 정의될까? 숫자에선 당연했지만, 문자열의 더하기, 곱하기는 어떻게 정의되는지 잘 생각해보자.

In [ ]:
s = "Hello"
s1 = "World"
# Q. 가운데 빈 칸을 넣고 싶을 땐 어떻게 해야할까?

In [ ]:
s3 = "Enjoy your life."

# 문자열의 길이를 출력하는 함수 len() 을 통해 s3의 문자 갯수(문자열 길이)를 알아보자.

### 문자열 Formatting

- 문자열을 출력할 때(print 함수를 이용하여) 특정 format을 지정하고 싶은 경우에는 어떻게 해야할까?

e.g. OOO님의 주민등록번호는 XXXXXXX-XXXXXXX입니다.

- 문자열 포맷에는 크게 3가지가 있다. (기호에 맞게 사용하면 됩니다)



"사과는 4개있다."



1) print format 사용

> print("%s는 %d개 있다." % ("사과", 4))

2) str.format 함수 사용

> print("{}는 {}개 있다.".format("사과", 4))

3) f-string (**)

> apple = "사과", count = 4

> print(f"{apple}는 {count}개 있다.")

In [19]:
phone = 'Galaxy S24 Ultra'
usage = 80.333

In [24]:
# 1) print formatting
print("%s의 배터리가 %.2f%% 남았습니다." % (phone, usage))

Galaxy S24 Ultra의 배터리가 80.33% 남았습니다.

In [25]:
# 2) str.format
print("{}의 배터리가 {:.2f}% 남았습니다.".format(phone, usage))

Galaxy S24 Ultra의 배터리가 80.33% 남았습니다.

In [26]:
# 3) f-string
print(f"{phone}의 배터리가 {usage:.2f}% 남았습니다.")

Galaxy S24 Ultra의 배터리가 80.33% 남았습니다.

**Q. 개인정보를 사용자로부터 입력받아, 주민등록등본을 출력해주는 키오스크(Kiosk)용 프로그램을 제작하려고 한다. 입력받은 이름을 name이라는 변수에, 주민번호 앞자리를 id라는 변수에 입력받았다면, 주민등록등본에 어떻게 출력해야 할까?**

### 문자열 관련 함수들 (**)

#### 문자열  나누기 split()

In [27]:
s = "Life is too short."
s.split('i') # token

['L', 'fe ', 's too short.']

#### 문자열 바꾸기 replace()

In [33]:
s.replace('Life', 'this pencil')
s.replace(' ', '')

'Lifeistooshort.'

In [34]:
s = "Life is too short."
# Life를 This pencil로 바꿔봅시다.
s = s.replace("Life", "This pencil")
s.replace(" ", "")

'Thispencilistooshort.'

### 3. 연속형 데이터 (Sequential Data Types)

**Q. 숫자 100개를 한번에 다루려고 한다. <=> 하나의 변수에 숫자 100개를 저장하고 싶다. 어떻게 해야할까?**

*A. 연속형 데이터 타입을 사용하자!*

* 연속형 데이터란, 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입이다.


* 연속형 데이터 타입에는 리스트(List), 튜플(Tuple), 문자열(String)이 있다. (문자열을 문자들의 나열로 인식하기 때문에, 연속형 데이터이다.)


* 연속형 데이터의 크기 제한은 없다. 하지만, 사용하는 컴퓨터의 가용 메모리 용량을 인지하며 사용해야 한다.


* 각 연속형 데이터 타입마다 특징이 다르다. 그 특징을 파악하여 용도에 맞는 데이터 타입을 사용하는 것이 중요하다.

 
**(OPTIONAL)** 사전(dictionary) 타입은 associative array라고 불리며, 흔히 알고있는 Hash table 구조이다.

### 3.1 리스트(List)


* 가장 많이 사용되는 연속형 데이터 타입이자, 굉장히 유연한 구조를 가지고 있어 대부분의 데이터를 편하게 다룰 수 있다.


* 파이썬에서 <kbd>[</kbd> 와 <kbd>]</kbd>를 이용하여 표현한다. e.g. [1, 2, 3]


* 리스트의 원소는 쉼표로 구분되며, 리스트의 원소는 아무 데이터 타입이나 가능하다. 리스트조차 가능하다.


* 리스트를 이용하면 파이썬에서 다루는 대부분의 데이터는 아무 무리없이 다룰 수 있다. 하지만 수정이 자유롭기 때문에 수정을 하면 안되는 경우에는 사용하면 안된다.

### 리스트를 만드는 방법

In [35]:
# 정수 1, 2, 3을 원소로 가지는 리스트를 만듭니다
L = [1, 2, 3]
L

[1, 2, 3]

In [36]:
L3 = [1, "Hi", 3.14, [1, 2, 3]] # 리스트에는 다양한 타입의 원소를 다 포함할 수 있다. 심지어 리스트도.
L3

[1, 'Hi', 3.14, [1, 2, 3]]

In [37]:
L4 = [[1, 2],
      [3, 4]] # 2x2 행렬 표현처럼 사용할 수 있다. 이를 2차원 리스트라고 한다.
L4 # 실제로는 2개의 리스트를 원소로 가지는 리스트이다.

[[1, 2], [3, 4]]

### Indexing (***)

- 연속형 데이터들은 하나의 변수에 여러가지 데이터를 가지기 때문에 여러 데이터를 접근하는 방법이 필요하다.


- 이를 위해 indexing이라는 기법이 있다. 말그대로 index를 통해 접근(access)하는 방법이다.


- 리스트의 index는 맨 앞부터 0으로 시작하며, 1씩 증가하는 정수 index를 사용한다.


e.g. [1, 2, 3]이면 첫번째 원소는 index가 0이고, 두번째 원소는 index가 1이다.


- 파이썬에서는 음수 index도 제공하는데, 이는 뒤쪽부터 접근할 수 있는 방법이다.

e.g. [1, 2, 3]이면 뒤에서 첫번째(맨 마지막)원소는 index가 -1이고, 뒤에서 두번째 원소는 index가 -2이다.


- index를 통해 접근하는 방법은 해당 변수이름에 []를 사용하며, []안에 index를 넣어서 접근할 수 있다.


e.g L = [1, 2, 3]이면 L[0]은 1이고, L[2]는 L[-1]이며 3이다.

In [38]:
L = [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [45]:
# L의 첫번째 원소
len(L)
L[len(L)-1]  # 리스트의 마지막 원소
L[-1]

5

In [46]:
# indexing을 이용한 연산. L의 첫번째, 두번째 원소를 가져다가 더해봅니다.
L[0] + L[1]

3

### Slicing (**)

**슬라이싱은 리스트에서 뿐만 아니라, 리스트와 비슷한 구조인 numpy array와 pandas series, dataframe에서도 많이 이용되니 꼭 알아두어야 한다.**

- 슬라이싱은 리스트의 일부분만 잘라낸다는 의미이다. (말그대로 슬라이싱)


- 리스트의 일부만 사용하고 싶을 때 쓰는 기법이며, indexing을 범위로 하는 느낌이다.


- 리스트의 index와 <kbd>:</kbd>를 사용하여 슬라이싱을 할 수 있다.


e.g. L = [1, 2, 3, 4]  L[0:2]는 [1, 2]이다.

In [47]:
L = [1, 2, 3, 4, 5]
L

[1, 2, 3, 4, 5]

In [64]:
# L의 첫번째부터 index2 까지 자르기 -> 뒤의 원소를 포함하지 않는다.
L[:3]
# 두번째부터 네번째까지
L[1:3]

# 첫번째부터 여섯번째까지 자르기 0 <= i < 6을 계산한 다음에 여기에 '포함되는' index들을 뽑아준다.
L[0:6]

L[1:-1]

[2, 3, 4]

In [70]:
# L[start:end:step]
L[0:10:2]


s = 'hello world'
# s에서 첫번째 글자부터 뒤에서 두번째 글자까지 슬라이싱
s[0:-1]
s[:-1]

# 6번째 글자부터 마지막까지
s[5:]
s[5:len(s)]     # stop을 생략하면 len(s)가 들어간다.

' world'

> **TIP!**
> 문자열도 연속형 데이터 타입이기 때문에, indexing과 slicing이 다 된다. 하나의 문자열을 생성하여 연습해보자.

### 리스트 연산하기

> 문자열때와 마찬가지로, 리스트도 더하기, 곱하기 연산이 존재한다. 어떤 의미일지 생각해보자.

#### 리스트 더하기

In [71]:
L = [1, 2, 3]
L2 = [4, 5]
L + L2  # concatenation

[1, 2, 3, 4, 5]

#### 리스트 곱하기

In [74]:
L * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트 수정하기 (**)

In [80]:
L = [1, 2, 3, 4, 5]

L2 = L      # 원본을 복사한게 아니다. shallow copy
L2 = L.copy()   # depp copy

L2[0] = 9
L

[1, 2, 3, 4, 5]

In [81]:
L + L2 # 값이 바뀐게 적용이 됩니다.

[1, 2, 3, 4, 5, 9, 2, 3, 4, 5]

### 리스트 관련 함수

#### 리스트에 원소 추가하기 append() (***)

In [88]:
# 빈 리스트 L을 만들어서 3, 2, 1 순서대로 원소를 추가해봅니다.
L = []
L.append(3)     # 마지막에 () 값 추가
L.append(2)
L.insert(1, 1)
L.insert(1, 'a')
# L.append(1)
L

## 원소 삭제
# L.pop()

# 해당 리스트의 특정 위치의 원소를 제거
# L.pop(1)

# 해당 리스트의 특정 원소를 제거
L.remove('a')
L

[3, 1, 2]

#### 리스트 원소 정렬하기 sort()

In [90]:
# sort()를 이용해 L을 정렬합니다.
L = [4, 3, 16]
L.sort()    # L 자체가 정렬됨.
sorted(L)   # L을 정렬한 결과를 보여준다

[3, 4, 16]

### 3.2 튜플(Tuple)

- tuple은 list과 거의 같다.
> indexing, slicing 모두 동일하게 사용 가능하다.
> 원소들도 자유롭게 사용 가능하다.

- 거의 같은데, 다른 점이 딱 2가지 있다.




**1) 리스트는 []를 사용하고, 튜플은 ()을 사용한다.**

**2) 리스트는 생성 후에 변경이 가능하고(mutable) 튜플은 생성 후에 변경이 불가능하다.(immutable)**

> Mutable : 생성된 이후에 변경(assignment)이 자유롭게 가능한 data type.
e.g. List, dict, set

> immutable : 생성된 이후에 변경이 불가능한 data type
e.g. int, float, string, tuple, frozenset


> 1. 성능적인 이슈 -> 변경되지는 않는 그 자체로 장점이 생김.

> 2. 프로그래밍적인 이슈 -> 데이터 수정 자체를 하지 않는 경우 실수를 방지할 수 있다.

In [92]:
# 1, 2를 원소로 가지는 tuple을 생성해 봅니다.
t = (1, 2, 'a', [1,2,3], ('a','ab'))
t

(1, 2, 'a', [1, 2, 3], ('a', 'ab'))

In [94]:
t[0] = 3 # 튜플의 원소를 변경해보자.

s = 'hello'
s[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [95]:
# 그럼 tuple의 더하기, 곱하기는 어떻게 될까?
t = (1, 2)
t2 = (3, 4)
t + t2

(1, 2, 3, 4)

### 3.3 집합(Set)

- 집합 자료형은 정말 말그대로 수학에서 배우는 집합 그 자체이다.


- 수학에서는 집합을 {}로 표시했지만, 파이썬에서는 안타까운 이유로 {}를 사용하긴 하는데 그냥 사용할 수는 없다. 왜냐면 사전(Dictionary) 자료형도 {}를 사용하기 때문이다. 이에 대해서는 뒤에 자세히 배운다.


- 공집합을 생성할 때는 *반드시* set()으로 생성해야 한다. {}로 생성하면 빈 사전이 생성된다.


e.g. {1, 2, 3} : 집합, {'a':1, 'b':2} : 사전


- 집합의 연산자인 교집합, 합집합, 차집합을 모두 지원한다.

- 집합의 특징이 2가지 있는데, 이 특징이 리스트와의 차이점이라 사용한다. 첫번째 특징이 집합 자료형을 사용하는 주된 이유이다.

1) 집합은 원소의 중복을 허용하지 않는다. 즉, **원소의 종류**를 나타내기 좋다.

2) 집합은 원소의 순서가 존재하지 않는다. 즉, 원소의 index가 없다.

In [96]:
# 1, 2, 3을 원소로 가지는 집합을 만들어 봅시다.
s = {1, 2, 3}
s, type(s)

({1, 2, 3}, set)

In [97]:
s[1] # 2가 나올것 같지만...

TypeError: 'set' object is not subscriptable

### 집합의 연산

In [98]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

#### 교집합, 합집합, 차집합

In [104]:
# 교집합
print(s1 & s2 )
# 합집합
print(s1 | s2)
# 차집합
print(s2 - s2)

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
set()

### 집합의 원소의 uniqueness를 활용하는 경우. (**)

In [106]:
L = [1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 7]
L2 = [1, 8, 10, 1, 2, 3, 3, 4, 1, 5, 6]
# L과 L2에 겹치는 숫자를 찾아주세요.

set(L) & set(L2)

{1, 2, 3, 4, 5, 6}

### 4. 사전(Dictionary) (**)



**파이썬에서 리스트와 함께 굉장히 많이 사용되는 구조. 특히 이번 교육과정 중에 많이 사용되니 꼭 마스터하는 것을 추천한다.**


- 파이썬에서 제공하는 사전 자료형은 key - value 방법을 통해 저장한다.

| name | code |
| --- | --- |
| "John" | 0011 |
| "Maria" | 1234 |


- 이런 table concept을 의미하며, 정수 index가 아닌 key값을 통해서 value를 access한다.

> key-value 방식으로 저장을 하는 것으로 얻는 이점은?

> A. 순서가 아닌 의미가 있는 값을 통해서 데이터 접근이 가능하다.

- 같은 말로 Hash Table이라고 불리며 데이터 관리에서 굉장히 중요한 개념이다.


- 파이썬에서 사전 자료형은 {}을 이용하여 표현하는데, 집합과의 차이점을 두기 위해 원소에 *반드시* <kbd>:</kbd>가 들어가야 한다.


- 사전을 표현할 때는 {key : value, key2 : value2, ... } 형태로 표현한다.

e.g. {'a' : 1', "b" : 3}

### 사전을 만드는 방법

In [116]:
D = {'a' : 1, 'b' : 5}
D.get('a')

Ds = {1: 1, 2: 3}
Ds

# key는 unique해야한다. 동일한 key가 있다면 나중에 추가되는 key:value pair로 overwrite된다.
Dn = {'a': 1, 'a': 5}
Dn

{'a': 5}

In [118]:
# 위에 나온 테이블 예시를 사전으로 만들어봅니다.
D = {"John" : '0011', "Maria" : 1234}
D['Maria']

1234

In [ ]:
L = [1, 2, 3]
L[4] = 3

In [120]:
# 사전 D에 key가 'a'이고 value가 3인 원소를 추가하자.
D["a"] = 3  # 'a':3을 D에 추가
D['a'] = 5  # key가 'a'인 value를 5로 update.
D

{'John': '0011', 'Maria': 1234, 'a': 5}

In [121]:
D["a"] # key값이 이미 존재하는 경우에는 key값을 통한 indexing이 되며, key값이 존재하지 않을 때는 assignment를 사용하여 원소를 추가한다.

5

In [122]:
D2 = {'a' : 400, 'a' : -3, 'b': 3,
      'z' : 3.14, 'p' : 100, (1, 2) : 3.14,
     1 : 1} # 무엇이 문제일까?
D2

{'a': -3, 'b': 3, 'z': 3.14, 'p': 100, (1, 2): 3.14, 1: 1}

> **TIP** 사전을 만들 때 key는 중복이 있으면 절대 안된다.

> 사전에서 key가 될 수 있는 data type은 **immutable**이어야 한다.
>> int, float, str, tuple

### 사전 관련 함수

#### 사전의 모든 key값들 보기 keys()

In [123]:
D = {'name': 'kim', 'phone': '01012345679', 'birth': '1234'}
D.keys()    # 출력문이 list처럼 생겼지만 list는 아니다.

dict_keys(['name', 'phone', 'birth'])

#### 사전의 모든 value들 보기 values()

In [124]:
D.values()

dict_values(['kim', '01012345679', '1234'])

#### 사전의 모든 key, value 쌍 보기 items()

In [125]:
D.items()

dict_items([('name', 'kim'), ('phone', '01012345679'), ('birth', '1234')])

#### 사전의 원소 가져오기 get()

In [129]:
# D['name']과 같다.
D.get('height', 0)  # key값이 height인 value를 가져오는데, 없으면 0
print(D.get('height'))

None

### Sequence에 해당 데이터가 존재하는지 확인하기 : `in` operator


- in이라는 operator는 모든 연속형 데이터 타입에 사용할 수 있다.


- 사전의 경우에는 key값을 대상으로 하고, 리스트, 튜플, 집합, 문자열에 대해서는 해당 원소가 존재하는지 찾아서 True / False 를 알려준다.

In [132]:
print(D)
"phone" in D

{'name': 'kim', 'phone': '01012345679', 'birth': '1234'}

True

In [131]:
"1234" in D.values()

True

In [139]:
# 리스트, 튜플, 집합, 문자열에서도 테스트
L = [1, 2, 3, 4]
t = (5, 6, 7, 8)
s = {'a', 2, 3.14}
st = "Hello"

3 in L
0 in t
'a' in s
'ell' in st # substring matching

True